* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    background-color: #000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 76px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 12px;
}

nav img {
    height: 76px;
    margin: 50px;
}

nav .navigators {
    font-size: 16px;
}

nav .navigators li a {
    text-decoration: none;
}

nav .personal-info {
    font-size: 20px;
    margin: 30px;
}